body {
    background-color: silver;
    font-family: cursive;
    margin: 10rem;
}

header {
    font-size: 50px;
    background-color: teal;
    padding: 1rem;
    border-radius: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

h1 {
    background-color: aquamarine;
    font-size: 35px;
    padding: .75rem;
    border-radius: 2.5rem;
    display: flex;
    justify-content: center;
}

h2 {
    background-color: slateblue;
    font-size: 30px;
    font-weight: bold;
    padding: .7rem;
    border-radius: 2rem;
    display:flex;
    justify-content: center;
}